<css>
/* CSS Document */
<head>
    <link href="Styles/styles.css" rel="stylesheet">
</head>
.title{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: grey; font-size: 40pt;
}
/* General Reset & Body Styling of video & Music */
body1{
    center-align: center;
    Background-colour: #faf8f2;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #2e2e2e;
    text-align: center;
}
/* Typography & Headings*/