css
/* Lady of the Hour - CSS styling */
<head>
    <link href="/Users/anngyliseth/Desktop/Web Com/LAB 1/AnngyHernandez.github.io/Styles/styles.css" rel="stylesheet">
</head>
/* General Reset & Body Styling of video & Music */
body1{
    center-align: center;
    Background-colour: #faf8f2;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #2e2e2e;
    text-align: center;
}
/* Typography & Headings*/
h1{
    font-size: 2.5em;
    margin: 0;
    padding: 20px 0;
    color: #2e2e2e;
}